body {
	font-family: Calibri;
}

h1 {
	font-size: 16px;
	text-decoration: underline;
	font-weight: bold;
	text-align: center;
}

p {
	text-align: justify;
}

/*ol {
	counter-reset: item;
}

li {
	display: block;
	text-align: justify;
	font-size: 16px;
}

li:before {
	content: counters(item, ".") ". "; 
	counter-increment: item;
}*/

#e1 {
	text-decoration: underline;
}

#e2 {
	text-decoration: underline;
	font-style: italic;
}
/*
#hdif {
	font-weight: normal;
}*/

#list1  li{
	margin-top: 17px;
}

#list1 {
	list-style-position: inside;
	padding-left: 0;
}

#li1 {
	list-style-position: outside;
	margin-left: 60px;
}

#list2 li {
	margin-top: 0px;
}

#list2 {
	margin-top: 17px;
}

#list3  {
	margin-top: 17px;
}

#list3 li{
	list-style-type: lower-alpha;
	list-style-position:outside;
	margin-top: 0px;
}

#list4  {
	margin-top: 17px;
}

#list4 li{
	list-style-type: lower-alpha;
	list-style-position:outside;
	margin-top: 17px;
}

#sub p {
	padding-left: 100px;
}

ol.nested{
    counter-reset: item;
}

li.nested {
    display: block;
	text-align: justify;
	
}

li.nested:before {
    content: counters(item, ".") ". ";
    counter-increment: item;
}

a {
	text-decoration: underline;
	color: blue;
}

a:hover {
	cursor: pointer;
}
