body {
	font-family: Calibri;
}

h1 {
	font-size: 16px;
	text-decoration: underline;
	font-weight: bold;
	text-align: center;
}

#h1 {
	font-weight: normal;
}

p {
	text-align: justify;
}

/*ol {
	counter-reset: item;
}

li {
	display: block;
	text-align: justify;
	font-size: 16px;
}

li:before {
	content: counters(item, ".") ". "; 
	counter-increment: item;
}*/

#e1 {
	text-decoration: underline;
}

#e2 {
	text-decoration: underline;
	font-style: italic;
}
/*
#hdif {
	font-weight: normal;
}*/

#list1  li{
	margin-top: 17px;
}

#list1 {
	list-style-position: inside;
	padding-left: 0;
}

#li1 {
	list-style-position: outside;
	margin-left: 50px;
}

#list2 li {
	margin-top: 0px;
}

#list2 {
	margin-top: 17px;
}

#list3  {
	margin-top: 17px;
}

#list3 li{
	list-style-position:outside;
	margin-top: 0px;
}

#list4  {
	margin-top: 17px;
}

#list4 li{
	list-style-position: outside;
	margin-top: 17px;
}
/* novo codigo que coloca "x)" nos marcadores*/
#list4{
  counter-reset: list;
}
#list4 li {
  list-style: none;
}
#list4 li:before {
  content: counter(list, lower-alpha) ") ";
  counter-increment: list;
}

#list3{
  counter-reset: list;
}
#list3 li {
  list-style: none;
}
#list3 li:before {
  content: counter(list, lower-alpha) ") ";
  counter-increment: list;
}
/* fim do novo código*/

#sub p {
	padding-left: 100px;
}

ol.nested{
    counter-reset: list-item;
}

li.nested {
    display: block;
	text-align: justify;
}

li.nested:before {
    content: counters(list-item, ".") ". ";
    counter-increment: list-item;
	list-style-position:outside;
}

a {
	text-decoration: underline;
	color: blue;
}

a:hover {
	cursor: pointer;
}
